
/* MAIN SEKTION START */






/* MAIN SEKTION END */





/* SERVICE SEKTION START */




.serv-title {
    margin-top: 2.2rem;
    }
    .serv-title p{
        font-style: italic;
    }
    .services h2{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .services h3{
        font-weight: 700;
    }
    .services{
        height: 80vh;
     display: flex;
      flex-direction: column;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    }
    
    .serv-content{
        padding: 1rem;
        /* background-color: aqua; */
        /* margin-top: 4rem; */
    }
    .serv-content p ,.services p{
        color: #6c757d !important;
        line-height: 1.75;
        font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
    .serv-content i{
        font-size: 4rem !important;
        color: white;
        background-color: #ffc800;;
    }
    .fa-lock{
        padding:1.5rem  1.8rem !important;
    }



/* SERVICE SEKTION END */





/* PORTFOLIO SEKTION START */









/* PORTFOLIO SEKTION END */





/* ABOUT SEKTION START */
.about .about-text p{
    max-width: 400px;
    
}
.about .about-img{
    display: flex;
    justify-content: center;
}
.about .about-img img{
    border:7px solid #e9ecef;
    width: 165px ;
    position: relative !important;
}
.about .about-img::after{
    content: "";
    position: absolute;
    bottom:0%;
    left: 50%;
    width: 2px;
    height: 130px;
   transform: translateY(100%);
    background-color: #e9ecef;
}
.about .about-img-befor::before{
    content: "";
    position: absolute;
    top:0%;
    left: 50%;
    width: 2px;
    height: 90px;
   transform: translateY(-100%);
    background-color: #e9ecef;
}
.about .about-no-img h5{
width: 165px;
height: 151px;
background-color: #ffc800;
border:7px solid #e9ecef;
}
.about .row{
    margin-bottom: 100px;
}
/* ABOUT SEKTION END */




/* TEAM SEKTION START */









/* TEAM SEKTION END */





/* CONTACT SEKTION START */

/* contact section  */


#contact{
    padding:4% 0;
    background-color: #212529 ;
    background-image: url(../images/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.contact-title h2{
    font-size: 3rem;
    color: white;
}
.contact-title i {
    color: #6c757d;
}
#contact .form-control::placeholder,#contact textarea::placeholder{
    font-weight: 700;
    color: rgba(158, 157, 157, 0.267);
    font-size: larger;
}
#contact .form-control{
    border: unset;
}
#contact .form-control:focus{
    box-shadow: 0 0 0 0.01rem #ffe480;
    border-color:  #ffe480;
    border:2px solid #ffe480 ;
}
#contact .contact-btn{
    opacity: .6;
    background-color: #ffc800;
}
/* CONTACT SEKTION END */





/* FOOTER SEKTION START */

/* footer section  */
.footer-icon{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

/* FOOTER SEKTION END */









/* MEDIA QUERIES START */

@media screen and (max-width:185px) {
    .about .about-img-befor::before{
        height: 380px;
    }
    .about .about-img::after{
        height: 370px;
    }

}

@media screen and (max-width:767px) {
  
    .about .about-img img{
        width:90px ;
        height: 90px;
    }
    .about .about-no-img h5{
        width: 90px;
        height: 90px;
        font-size: 0.7rem !important ;
    }
    .about .row{
        margin-bottom: 30px;
    }
 
}

@media screen and (min-width:767px) and (max-width:992px) {
    .about .about-img img{
        width: 120px ;
        height: 120px;
    }
    .about .about-no-img h5{
        width: 120px;
        height: 120px;
        font-size: 1.1rem !important ;
    }
    .about .about-img-befor::before{
        height: 150px;
    }
    .about .row{
        margin-bottom: 40px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .about .about-img img{
        width: 150px ;
    }
    .about .about-no-img h5{
        width: 150px;
        font-size: 1.2rem  !important;
    }
    .about .row{
        margin-bottom: 40px;
    }

}

/* MEDIA QUERIES END */